{% extends 'base.html.twig' %}

{% block title %}Meals from Scratch{% endblock %}

{% block body %}
{# HERO #}
<div class="hero">
    <h2 class="f-red"> PLAN YOUR MEALS FROM SCRATCH</h2>
    <h1 class="">Meals from Scratch</h1>

    <img src="{{ asset('img/carrot.png')}}" alt="image of a carrot">

</div>

{# SIGN IN | UP #}
{# <div class="sign-in-up">
    <div>
        <h2 class="f-off-white">
            you need to <span class="hw ">sign in</span> or <span class="hw">sign up</span> to
            plan your
            meals

        </h2>
    </div>
    <div class="sign-in">
        <h2></h2>
    </div>
</div> #}
{% endblock %}