<footer>
    <div class="content-container">
        <img src="{{ asset('img/corn.png')}}" alt="image of corn" class="flavourImg">
        <div class="logo hw">
            MEALS FROM SCRATCH
        </div>
        <div class="info">
            <p>Mit freundlichen Grüßen,</p>
            <p><strong>Rossana Sanvito, Johannes Hucek, Elias Zechmeister, Pascal Doppler</strong></p>
            <p class="highlight">Meals from Scratch</p>
            <p>mealsfromscratch@gmail.com</p>
        </div>
    </div>




</footer>